// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


.header {
    width: 100%;
}
.navbar {
    background-image: url("bg.jpg");
    background-size: cover;
    height: 100px;
}